/url/cache
/.emacs.desktop
/auto-save-list
/network-security.data
/.session
/session.*
/custom.el
*.elc
CVS
.svn
*~
.cvsignore
.*.lock
/tramp
/TODO
/.org-id-locations
cookies
/newsticker
\#*
\.#*
/elpa
/elpa-*
site-lisp/package/
/swank
/.mc-lists.el
/var
/.sqli_history
/frame-restore-parameters
/.achievements
/.bookmarks.el
/history
/helm-adaptive-history
/thumbs/
/emms/
/.smex-items
/image-dired/
/eshell/history
/.cask/
/.sx/
/org-clock-save.el
/ditaa*.jar
/ido.last
/recentf
/viper
/projectile-bookmarks.eld
/anaconda-mode/
/.historian
/.uptimes.el
/rake.cache
/plantuml.jar
/magithub
.cache/
/forge-database.sqlite
/transient
/server/
projectile.cache

MyInit.el
ac-comphist.dat
elpy/
.last-package-update-day
bookmarks
.dap-breakpoints
.lsp-session-v1
nil
saveplace
straight
.persistent-scratch

eln-cache/
*.orig
*.stignore
places
custom-file.el
/.persistent-scratch.new
flycheck_*.el

# Added automatically by `eldev init'.
/.eldev
/Eldev-local
